/* Our Cients */
.our-clients-container {
    padding: 94px 0 94px 0;
  }
  
  .our-clients-header {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
  }
  .our-clients-group {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
  .our-clients-logo {
    width: 170px;
    height: 92px;
    margin-right: 30px;
    border: #afb1b8;
  }
  .our-clients-logo:last-child {
    margin-right: 0;
  }
  .our-clients-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    box-sizing: border-box;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .our-clients-item:hover,
  .our-clients-item:focus {
    border-color: var(--accent-color);
  }
  .our-clients-item:hover .our-clients-photo,
  .our-clients-item:focus .our-clients-photo {
    fill: var(--accent-color);
  }
  .our-clients-photo {
    fill: #afb1b8;
  }